.logo {
  text-decoration: none;
  color: var(--main-logo-color);
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo_head {
  color: #000000;
}
.logo_footer {
  color: var(--white-color);
}
