:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --main-logo-color: #2196f3;
  --pf-cart-border-color: #eeeeee;
  --address-link-footer: rgba(255, 255, 255, 0.6);
  --btn-bg-color: #f5f4fa;
  --btn-click-color: #188ce8;
  --baner-tittle-color: #ffffff;
  --white-color: #ffffff;
}
